In [1]:
import numpy as np
import pandas as pd
import nltk

In [30]:
#read dataset
df = pd.read_csv('F:\\senthil\\project\\End_to_end_text_classification_using_bert\\artifacts\\data_ingestion\\article.csv',encoding='cp1252')

In [13]:
df2 =df

In [31]:
df.drop(['Article.Banner.Image','Outlets','Id','Tonality'],axis=1,inplace=True)

In [7]:
df.head()

,Heading,Article.Description,Full_Article,Article_Type
0,"A Puzzling Maneuver, Then Freefall: NTSB Repor...",<p>The helicopter that crashed in Southeast Al...,<p>The helicopter that crashed in Southeast Al...,Commercial
1,Bell’s Nexus Air Taxi Concept Rings Changes Fo...,<p>A year after teasing the fledgling electric...,<p>A year after teasing the fledgling electric...,Commercial
2,Bell Helicopter Show Air Taxi Nexus,<p>Bell released the full-size design of the v...,<p>Bell released the full-size design of the v...,Commercial
3,BELL DÉVOILE LA CONCEPTION INTÉGRALE DE SON TA...,<p>Bell est une soci&eacute;t&eacute; am&eacut...,<p>Bell est une soci&eacute;t&eacute; am&eacut...,Commercial
4,Les premiers retours d’Olivier Ezratty,<p>It was still anecdotal to observe the explo...,<p>It was still anecdotal to observe the explo...,Commercial

In [32]:
column_name = df2.columns
column_name

Index(['Id', 'Heading', 'Article.Banner.Image', 'Outlets',
       'Article.Description', 'Full_Article', 'Article_Type', 'Tonality'],
      dtype='object')

In [33]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

df['Article_Type']= le.fit_transform(df['Article_Type'])

indepent_feature = ['Heading', 'Article.Description', 'Full_Article']

X = df[indepent_feature]

y = df['Article_Type']

In [35]:
y

0       0
1       0
2       0
3       0
4       0
       ..
4300    3
4301    0
4302    3
4303    0
4304    3
Name: Article_Type, Length: 4305, dtype: int32

In [37]:
from sklearn.model_selection import train_test_split 

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.20, random_state = 42)

In [42]:
len(X_test)

861

In [44]:
len(y_test)

861

In [45]:
train = pd.concat([X_train,y_train],axis =1)
train.head()

,Heading,Article.Description,Full_Article,Article_Type
1302,First Images of Prototype Marine One Helicopte...,The images show a Sikorsky VH-92A helicopter i...,<p>The images show a Sikorsky VH-92A helicopte...,3
1123,Hengyang people can take a helicopter to heaven!,Hengyang people can take a helicopter to heaven!,<p>Hengyang people can take a helicopter to he...,0
1321,Turkish military helicopter crashes on suburba...,The UH-1 helicopter went down in the quiet sub...,<p>The UH-1 helicopter went down in the quiet ...,3
3894,These Secret Helicopters Were Flown by a Shado...,<p>&nbsp;The OH-58Ds were officially part of F...,<p>&nbsp;The OH-58Ds were officially part of F...,3
1929,Static Display at MEBAA Show 2018 Announced,<p>When the MEBAA Show 2018 opens on 10 Decemb...,<p>When the MEBAA Show 2018 opens on 10 Decemb...,0

In [ ]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
nltk.download('punkt')
nltk.download('wordnet')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...

True

In [ ]:
df['Article_Type'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 4305 entries, 0 to 4304
Series name: Article_Type
Non-Null Count  Dtype
--------------  -----
4305 non-null   object
dtypes: object(1)
memory usage: 33.8+ KB

In [ ]:
from nltk.stem import PorterStemmer
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
stemmer = PorterStemmer()
lemat = WordNetLemmatizer()

In [ ]:
import re
corpus =[]
for i in range(len(df['Heading'])):
  heading = re.sub('[^a-zA-Z]',' ',df['Heading'][i])
  heading = heading.lower()
  heading = heading.split()
  review = [lemat.lemmatize(word) for word in heading if not word in set(stopwords.words('english'))]
  review = ' '.join(review)
  corpus.append(review)

In [ ]:
df['Heading_preprocess'] = corpus

In [ ]:
from bs4 import BeautifulSoup

In [ ]:
tags_re = re.compile('<.*?>')

In [ ]:
corpus =[]
for i in range(len(df['Full_Article'])):
  #text = BeautifulSoup(df['Full_Article'][i],'lxml').text
  text = re.sub(tags_re,'',df['Full_Article'][i])
  text = re.sub('[^a-zA-Z]',' ',df['Full_Article'][i])
  text = text.lower()
  text = text.split()
  review = [lemat.lemmatize(word) for word in text if not word in set(stopwords.words('english'))]
  review = ' '.join(review)
  review = review[1:len(review)-1]
  corpus.append(review)

In [ ]:
df['Article_preprocess'] = corpus

In [ ]:
corpus =[]
for i in range(len(df['Article.Description'])):
  #text = BeautifulSoup(df['Full_Article'][i],'lxml').text
  text = re.sub(tags_re,'',df['Article.Description'][i])
  text = re.sub('[^a-zA-Z]',' ',df['Article.Description'][i])
  text = text.lower()
  text = text.split()
  review = [lemat.lemmatize(word) for word in text if not word in set(stopwords.words('english'))]
  review = ' '.join(review)
  review = review[1:len(review)-1]
  corpus.append(review)

In [ ]:
df['Description_preprocess'] = corpus

In [ ]:
df.head()

,Heading,Article.Description,Full_Article,Article_Type,Heading_preprocess,Article_preprocess,Description_preprocess
0,"A Puzzling Maneuver, Then Freefall: NTSB Repor...",<p>The helicopter that crashed in Southeast Al...,<p>The helicopter that crashed in Southeast Al...,Commercial,puzzling maneuver freefall ntsb report provide...,helicopter crashed southeast alaska late sept...,helicopter crashed southeast alaska late sept...
1,Bell’s Nexus Air Taxi Concept Rings Changes Fo...,<p>A year after teasing the fledgling electric...,<p>A year after teasing the fledgling electric...,Commercial,bell nexus air taxi concept ring change evtol ...,year teasing fledgling electric vertical take...,year teasing fledgling electric vertical take...
2,Bell Helicopter Show Air Taxi Nexus,<p>Bell released the full-size design of the v...,<p>Bell released the full-size design of the v...,Commercial,bell helicopter show air taxi nexus,bell released full size design vertical take ...,bell released full size design vertical take ...
3,BELL DÉVOILE LA CONCEPTION INTÉGRALE DE SON TA...,<p>Bell est une soci&eacute;t&eacute; am&eacut...,<p>Bell est une soci&eacute;t&eacute; am&eacut...,Commercial,bell voile la conception int grale de son taxi...,bell est une soci eacute eacute eacute ricain...,bell est une soci eacute eacute eacute ricain...
4,Les premiers retours d’Olivier Ezratty,<p>It was still anecdotal to observe the explo...,<p>It was still anecdotal to observe the explo...,Commercial,le premier retours olivier ezratty,still anecdotal observe explosion passenger d...,still anecdotal observe explosion passenger d...

In [ ]:
df.drop(['Heading','Article.Description','Full_Article'],axis=1,inplace=True)

In [ ]:
df.head()

,Article_Type,Heading_preprocess,Article_preprocess,Description_preprocess
0,Commercial,puzzling maneuver freefall ntsb report provide...,helicopter crashed southeast alaska late sept...,helicopter crashed southeast alaska late sept...
1,Commercial,bell nexus air taxi concept ring change evtol ...,year teasing fledgling electric vertical take...,year teasing fledgling electric vertical take...
2,Commercial,bell helicopter show air taxi nexus,bell released full size design vertical take ...,bell released full size design vertical take ...
3,Commercial,bell voile la conception int grale de son taxi...,bell est une soci eacute eacute eacute ricain...,bell est une soci eacute eacute eacute ricain...
4,Commercial,le premier retours olivier ezratty,still anecdotal observe explosion passenger d...,still anecdotal observe explosion passenger d...

In [ ]:
df.Article_Type.value_counts()

Commercial            2470
Military              1677
Executives              65
Others                  52
Support & Services      26
Financing                9
Training                 6
Name: Article_Type, dtype: int64

In [ ]:
df2 = pd.read_csv('article.csv',encoding='cp1252')

In [ ]:
df2.drop(['Article.Banner.Image'],axis=1,inplace=True)

In [ ]:
df2.dropna(axis =0, inplace = True)

In [ ]:
df2.shape

(3873, 7)