In [1]:
import numpy as np
import pandas as pd

In [16]:
df = pd.read_csv('F:\\senthil\\project\\End_to_end_text_classification_using_bert\\artifacts\\data_ingestion\\article.csv',encoding='cp1252')

In [3]:
df.columns

Index(['Id', 'Heading', 'Article.Banner.Image', 'Outlets',
       'Article.Description', 'Full_Article', 'Article_Type', 'Tonality'],
      dtype='object')

In [4]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [17]:
df['Article_Type_encode'] = le.fit_transform(df['Article_Type'].values)
df.drop(['Article.Banner.Image','Heading','Full_Article','Article.Description','Outlets','Id','Tonality'],axis=1,inplace=True)

In [18]:
df.head(3)

  Article_Type  Article_Type_encode
0   Commercial                    0
1   Commercial                    0
2   Commercial                    0

In [53]:
d1 = df.drop_duplicates('Article_Type').set_index('Article_Type')

In [54]:
d1 = d1.to_dict()

In [55]:
d1

{'Article_Type_encode': {'Commercial': 0,
  'Military': 3,
  'Training': 6,
  'Executives': 1,
  'Others': 4,
  'Financing': 2,
  'Support & Services': 5}}

In [56]:
import json 

with open('article_type.json','w') as out:
    json.dump(d1,out)

In [57]:
article_cls = open('F:\\senthil\\project\\End_to_end_text_classification_using_bert\\research\\article_type.json')
data = json.load(article_cls)

In [66]:
data

{'Article_Type_encode': {'Commercial': 0,
  'Military': 3,
  'Training': 6,
  'Executives': 1,
  'Others': 4,
  'Financing': 2,
  'Support & Services': 5}}

In [67]:
key_list = list(data['Article_Type_encode'].keys())
val_list = list(data['Article_Type_encode'].values())

In [68]:
score = [3]

pos = val_list.index(score[0])
print(key_list[pos])

Military